[github]
api_url = https://api.github.com
## api_token : https://github.com/settings/tokens
api_token = [service account access token]
base_url = https://github.com

[docker]
## docker registry : https://github.com/docker/distribution
registry = [docker-registry-host]/cite

[buildbot]
workers = [
    "[buildbot-worker-name]",
    ]
## worker_instance : number of buildbot worker instances per host
worker_instance = 4
worker_password = cite-buildbot-worker
title = Cite Build
title_url = [your-buildbot-title]
url = [your-buildbot-url]
database = sqlite:///state.sqlite
##database = mysql://[username]:[password]@[mysql_host]/buildbot?max_idle=300
